sentinel/playbooks/playbook-sql-injection-response.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "workspaceName": { "type": "string", "defaultValue": "law-sentinel-lab" },
    "alertEmail":    { "type": "string" },
    "location":      { "type": "string", "defaultValue": "[resourceGroup().location]" }
  },
  "variables": {
    "playbookName": "playbook-sql-injection-response",
    "sentinelConnectionName": "azuresentinel-connection",
    "office365ConnectionName": "office365-connection"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('sentinelConnectionName')]",
      "location": "[parameters('location')]",
      "properties": {
        "displayName": "Azure Sentinel Connection",
        "api": { "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuresentinel')]" }
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('office365ConnectionName')]",
      "location": "[parameters('location')]",
      "properties": {
        "displayName": "Office 365 Email Connection",
        "api": { "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/office365')]" }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[variables('playbookName')]",
      "location": "[parameters('location')]",
      "tags": { "Environment": "lab", "Course": "seguridad-cloud-ugr", "Unit": "IV-incidentes" },
      "identity": { "type": "SystemAssigned" },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": { "$connections": { "defaultValue": {}, "type": "Object" } },
          "triggers": {
            "Microsoft_Sentinel_incident": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "host": { "connection": { "name": "@parameters('$connections')['azuresentinel']['connectionId']" } },
                "body": { "callback_url": "@listCallbackUrl()" },
                "path": "/incident-creation"
              }
            }
          },
          "actions": {
            "1_Agregar_comentario_tecnico": {
              "runAfter": {},
              "type": "ApiConnection",
              "inputs": {
                "host": { "connection": { "name": "@parameters('$connections')['azuresentinel']['connectionId']" } },
                "method": "post",
                "path": "/Incidents/subscriptions/@{encodeURIComponent(triggerBody()?['workspaceInfo']?['SubscriptionId'])}/resourceGroups/@{encodeURIComponent(triggerBody()?['workspaceInfo']?['ResourceGroupName'])}/workspaces/@{encodeURIComponent(triggerBody()?['workspaceInfo']?['WorkspaceName'])}/Incidents/@{encodeURIComponent(triggerBody()?['object']?['name'])}/Comments",
                "body": { "message": "🤖 RESPUESTA AUTOMÁTICA\n\nVulnerabilidad: SQL Injection (OWASP A03)\nEndpoint: /students/search\nRemediación: ver REM-3 en guía docente\nSLA objetivo: < 4 horas" }
              }
            },
            "2_Escalar_severidad": {
              "runAfter": { "1_Agregar_comentario_tecnico": ["Succeeded"] },
              "type": "ApiConnection",
              "inputs": {
                "host": { "connection": { "name": "@parameters('$connections')['azuresentinel']['connectionId']" } },
                "method": "put",
                "path": "/Incidents/subscriptions/@{encodeURIComponent(triggerBody()?['workspaceInfo']?['SubscriptionId'])}/resourceGroups/@{encodeURIComponent(triggerBody()?['workspaceInfo']?['ResourceGroupName'])}/workspaces/@{encodeURIComponent(triggerBody()?['workspaceInfo']?['WorkspaceName'])}/Incidents/@{encodeURIComponent(triggerBody()?['object']?['name'])}",
                "body": { "severity": "High", "status": "Active" }
              }
            },
            "3_Enviar_email": {
              "runAfter": { "2_Escalar_severidad": ["Succeeded"] },
              "type": "ApiConnection",
              "inputs": {
                "host": { "connection": { "name": "@parameters('$connections')['office365']['connectionId']" } },
                "method": "post",
                "path": "/v2/Mail",
                "body": {
                  "To": "[parameters('alertEmail')]",
                  "Subject": "[SENTINEL] SQL Injection detectado - Incidente #@{triggerBody()?['object']?['properties']?['incidentNumber']}",
                  "Body": "<h2>🚨 SQL Injection detectado</h2><p>OWASP A03 - Endpoint: /students/search</p><p>Ver REM-3 en la guía docente para la remediación.</p>",
                  "IsHtml": true
                }
              }
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('sentinelConnectionName'))]",
                "connectionName": "[variables('sentinelConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuresentinel')]"
              },
              "office365": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('office365ConnectionName'))]",
                "connectionName": "[variables('office365ConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/office365')]"
              }
            }
          }
        }
      }
    }
  ],
  "outputs": {
    "playbookName": { "type": "string", "value": "[variables('playbookName')]" }
  }
}
